<header class="jumbo">
  <h1>The quickest way to share things</h1>
  <ol class="lead">
    <li>Create a shared space</li>
    <li>Share it with others</li>
    <li>Rock on!</li>
  </ol>
</header>

<form method="post">
  <button type="submit" class="btn btn-large btn-success">
    Create a Space
  </button>
</form>

<form method="get">
  <label for="slug">...or join an existing one:</label>
  <fieldset class="input-append">
    <input type="text"
      id="slug"
      name="slug"
      placeholder="Insert code here">
    <button type="submit" class="btn">
      Join
    </button>
  </fieldset>
</form>
